.googleBtn {
    flex-direction: row;
    display: flex;
    align-items: center;
    // padding-left: 0.2rem;
    background: white;
    font-family: 'Inter';
    font-style: normal;
    // font-weight: 600;
    // font-size: 16px;
    // line-height: 19px;

    color: #000000;
    // justify-content: center;

    width: 100%;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;

    &:focus {
        background: white;
    }
}

.googleIcon {
    margin-right: 0.5rem;
}